<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

{% load static %}
<link rel="stylesheet" href="{% static 'webapp/base.css' %}?v=1.1" type="text/css" />

<body>
    <header>
        <a href="https://nickdoornekamp.pythonanywhere.com">Home</a> &emsp;|&emsp; <a href="https://medium.com/@nddoornekamp/plotting-strava-data-with-python-7aaf0cf0a9c3">How it works</a> &emsp;|&emsp; <a href="https://github.com/ndoornekamp/strava-plotter-webapp">GitHub</a>
    </header>

    <div style="display:flex;">
        <div class="container text-center content">
            {% block content %}{% endblock %}
        </div>
    </div>

</body>