{% extends "base.html" %}
{% load static %}

{% block content %}
    <h3 style="margin-top:25px">There's been a problem..</h3>
    {% if error_code == 429 %}
        <p class="text">The Strava API allows a maximum of 600 requests every 15 minutes and 30000 every day per application. <br> That limit was exceed, so please try again later.</p>
    {% else %}
        <p class="text">Error code: {{ error_code }}. Please try re-starting the process from the <a href="https://nickdoornekamp.pythonanywhere.com">homepage</a></p>
    {% endif %}
{% endblock %}