{% extends "base.html" %}
{% load static %}

{% block content %}
	<p class="text">
		Welcome! With this app, you can make images like the one below of your personal Strava data.
	</p>

	<img src="{% static 'webapp/example.png' %}">

	<p class="text">
		To get started, click the button below to authorize the app to download your data from Strava.
	</p>

	<button id="authorize-button" class="btn btn-primary" style="margin-bottom:30px">Connect to Strava</button>

	<script src="{% static 'webapp/setButtonURL.js' %}" type="text/javascript"></script>

{% endblock %}