{% extends "base.html" %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% block content %}
    <link rel="stylesheet" href="{% static 'webapp/settings.css' %}" type="text/css" />

    <form action="{% url 'making_plots' %}">
        <div class="settings-block"> 
            Activity types: <img src="{% static 'webapp/tooltip_blue.png' %}" height="15px" data-toggle="tooltip" title="Check the activity types that you wish to include in the plots">
            <br>
            {% for activity_type, amount in types.items %}
                <div>
                    <label for="{{ activity_type }}">{{ activity_type }} ({{ amount }})</label>
                    <input type="checkbox" id="{{ activity_type }}" name="{{ activity_type }}" checked>
                </div>
            {% endfor %}
            </div>
        
        <div class="settings-block">
            <div>
                <label for="clustered">Cluster rides</label>
                <img src="{% static 'webapp/tooltip_blue.png' %}" height="15px" data-toggle="tooltip" title="When checked, the algorithm will try to identify clusters of rides that are close to eachother and plot them in separate images">
                <input type="checkbox" id="clustered" name="clustered" checked>
            </div>
            <div>
                <label for="margin">Margin</label>
                <img src="{% static 'webapp/tooltip_blue.png' %}" height="15px" data-toggle="tooltip" title="Maximum distance between rides in degrees (latitude/longitude) above which rides are placed in separate clusters">
                <select name="margin">
                    <option value="0">0</option>
                    <option value="0.05">0.05</option>
                    <option value="0.1" selected>0.1</option>
                    <option value="0.2">0.2</option>
                    <option value="0.3">0.3</option>
                    <option value="0.4">0.4</option>
                    <option value="0.5">0.5</option>
                </select>
            </div>
            <div>
                <label for="ids_to_skip">ID's to skip</label>
                <img src="{% static 'webapp/tooltip_blue.png' %}" height="15px" data-toggle="tooltip" title="Activity ID's you want to exclude. These ID's can be found by opening the activity you wish to exclude on strava.com - the URL then ends in the ID of that activity.">
                <input type="text" id="ids_to_skip" name="ids_to_skip" value="621131153">
            </div>
            <div></div>
                <label for="opacity">Opacity</label>
                <img src="{% static 'webapp/tooltip_blue.png' %}" height="15px" data-toggle="tooltip" title="Opacity of the GPS tracks on top of the background image. When less than 100%, overlapping tracks light up more than tracks you only traveled once.">
                <input type="range" id="opacity" name="opacity" min="1" max="100">
            </div>
        </div>
        <div>
            <input type="submit" value="Continue" class="btn btn-primary">
        </div>
    </form>

    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
{% endblock %}