{% extends "base.html" %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% load static %}

{% block content %}
    <form action="{% url 'result' %}">
        <div style="display:inline-block; width:45%; margin:2%;"> Activity types:<br>
            {% for activity_type, amount in types.items %}
                <div>
                    <label for="{{ activity_type }}">{{ activity_type }} ({{ amount }})</label>
                    <input type="checkbox" id="{{ activity_type }}" name="{{ activity_type }}" checked>
                </div>
            {% endfor %}
            </div>
        
        <div style="display:inline-block; width:45%; margin:2%;">
            <div>
                <label for="margin">Margin</label>
                <select name="margin">
                    <option value="0.05">0.05</option>
                    <option value="0.1" selected>0.1</option>
                    <option value="0.2">0.2</option>
                    <option value="0.3">0.3</option>
                    <option value="0.4">0.4</option>
                    <option value="0.5">0.5</option>
                </select>
            </div>
            <div>
                <label for="clustered">Cluster rides</label>
                <input type="checkbox" id="clustered" name="clustered" checked>
            </div>
            <div>
                <label for="ids_to_skip">ID's to skip</label>
                <input type="text" id="ids_to_skip" name="ids_to_skip">
            </div>
            <div>
                <label for="opacity">Opacity</label>
                <input type="range" id="opacity" name="opacity" min="1" max="100">
            </div>
        </div>
        <div>
            <input type="submit" value="Plot" class="btn btn-primary">
        </div>
    </form>
{% endblock %}